li {
    color:rgb(122, 122, 122);
    display:inline-block;
    display: block;
}

ul {
    width: 100%;
}

body {
    font-size: 24px;
}

.nav {
    background: gray;
    padding: 0;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.nav li {
    display: inline-block;
}

a{
    color: darkblue;
}
  
nav{
      width: auto;
}
