button{
	display: inline-block;
	margin-bottom: 0; 
	font-weight: btn-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none; 
	border: 1px solid transparent;
}